{% extends 'blog/base.html' %}


{% block plus_header %}
    {% if user.is_authenticated %}
        <a href="{% url 'client_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
{% endblock %}


{% block content %}
    <table>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Endereco</th>
    </tr>
    {% for client in clients %}
{#        <div class="client">#}
{#            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>#}
{#            <h1>{{ client.name }}</h1>#}
{#            <p>{{ client.email }}</p>#}
{#            <p>{{ client.adress|linebreaksbr }}</p>#}
{#        </div>#}
        <tr>
            <th><a href="{% url 'client_detail' pk=client.pk %}">{{ client.name }}</a></th>
            <th>{{ client.email }}</th>
            <th>{{ client.adress|linebreaksbr }}</th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}