{% extends 'blog/base.html' %}


{% block plus_header %}
    {% if user.is_authenticated %}
        <a href="{% url 'client_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Clientes</h1>
    <table>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Endereco</th>
    </tr>
    {% for client in clients %}
        <tr>
            <th><a href="{% url 'client_detail' pk=client.pk %}">{{ client.name }}</a></th>
            <th>{{ client.email }}</th>
            <th>{{ client.address|linebreaksbr }}</th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}